
body {
    overflow-x: hidden;
}

.navbar-expand-lg {
    position: fixed;
    width: 100vw;
    background-color:#9146FF;
    display: flex;
    align-items: flex-end;
    z-index: 3;
}

.nav-link, .navbar-brand {
    color:white
}
.rating {
    position: relative;
}

.dropdown-item {
    color: #9146FF
}

.details-cover {
    min-width: 25vw;
}

.game-cover {
    max-width: 20vw;
    min-width: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    bottom: 0;
    min-height: 5vh;
    border: solid #9146FF 2px;
    background-color: #9146FF;
}

.list-item {
    position: relative;
    border-bottom: #9146FF solid 2px; 
}

.CodeMirror {
    visibility: hidden;
}

.welcome {
  padding-top: 70px;
}

.content {
   padding-top: 70px;
   padding-bottom: 20px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.details-amazon-link {
    display:block;
    max-width: 20%;
    margin:auto;
    padding: 10px;
}

.gamebg {
    background-color: lightblue;
}

.list-price {
    position: relative;
    left: 27vw;
    bottom: 5vh;
    font-size: 50px;
    font-weight: lighter;
}

.amazon-link {
    position: relative;
    max-width: 30%;
    left: 25vw;
}

.list-platform {
    position: relative;
    left: 15vw;
}

.sort-form {
    position: relative;
    left: 80vw;
}

.amazon-default {
    position: relative;
    left: 22vw;
}
